.form-control {
  width: 800px;
}
#app {
  display: none;
}

#html {
  display: none;
}

#python {
  display: none;
}

#csharp {
  display: none;
}

#javascript {
  display: none;
}

#react {
  display: none;
}

.btn {
  background-color: lightgray;
}
