.form-control {
  width: 960px;
}

body {
  background-color: lightblue;
}

#app {
  display: none;
}

.languages {
  color: peru;
  font-family: monospace;
}

#html {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 600;
  width: 80%;
  border: 6px solid blue;
  margin: auto;
}

#python {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 600;
  width: 80%;
  border: 6px solid green;
  margin: auto;
}

#csharp {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 600;
  width: 60%;
  border: 6px solid purple;
  margin: auto;
}

#javascript {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 600;
  width: 70%;
  border: 6px solid orangered;
  margin: auto;
}

#react {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  font-weight: 600;
  width: 90%;
  border: 6px solid yellow;
  margin: auto;
}

.btn {
  background-color: lightgray;
  color: darkkhaki;
}

h1 {
  color: maroon;
  font-family: impact;
  text-align: center;
}

h3 {
  color: crimson;
  font-family: Tahoma;
  text-align: center;
}

h2 {
  color: orangered;
  font-family: impact;
  text-align: center;
}

img {
  float: center;
  border: 5px;
  box-sizing: border-box;
  margin: 5px;
}